body{
	
	background-color: lightblue;
}
h1 {
	
	color:blue;
	text-align:	center;
}
p{
	
	font-family:verdana;
	font-size:20px;
}
 pre {
color: red ;
<<<<<<< Updated upstream
}
=======
}
h2{

color: black ;
}
<title>Employee Form</title>


style {
	font-size :12px;
}









>>>>>>> Stashed changes
